<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090939193740-he4rmudcs0vk8l5ldnrj15q8a71t7cc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090939193740-he4rmudcs0vk8l5ldnrj15q8a71t7cc5</string>
	<key>API_KEY</key>
	<string>AIzaSyCT2Fm5PWTiDCoGOfhgrL7jC_4GXTLiiGA</string>
	<key>GCM_SENDER_ID</key>
	<string>1090939193740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngjiayuan.FiNUS</string>
	<key>PROJECT_ID</key>
	<string>finus-4a7d2</string>
	<key>STORAGE_BUCKET</key>
	<string>finus-4a7d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090939193740:ios:7eb967b5f5666a2657aea9</string>
</dict>
</plist>